html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

body {
	background-color:#eceff1;
	color: #00234b;
}

.main-navbar {
	padding: 10px 0;
}

.search-form {
	z-index: 9;
}

.side-nav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.side-nav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.side-nav .collapsible {
  margin: 0;
}

.side-nav li {
  float: none;
  line-height: 48px;
}

.side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-nav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.side-nav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-flat, .side-nav li > a.btn-floating {
  margin: 10px 15px;
}

.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-floating {
  color: #fff;
}

.side-nav li > a.btn-flat {
  color: #343434;
}

.side-nav li > a.btn:hover, .side-nav li > a.btn-large:hover, .side-nav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.side-nav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.side-nav li > a > i,
.side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"],
.side-nav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.side-nav .divider {
  margin: 8px 0 0 0;
}

.side-nav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.side-nav .subheader:hover {
  background-color: transparent;
}

.side-nav .user-view,
.side-nav .userView {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.side-nav .user-view > a,
.side-nav .userView > a {
  height: auto;
  padding: 0;
}

.side-nav .user-view > a:hover,
.side-nav .userView > a:hover {
  background-color: transparent;
}

.side-nav .user-view .background,
.side-nav .userView .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.side-nav .user-view .circle, .side-nav .user-view .name, .side-nav .user-view .email,
.side-nav .userView .circle,
.side-nav .userView .name,
.side-nav .userView .email {
  display: block;
}

.side-nav .user-view .circle,
.side-nav .userView .circle {
  height: 64px;
  width: 64px;
}

.side-nav .user-view .name,
.side-nav .user-view .email,
.side-nav .userView .name,
.side-nav .userView .email {
  font-size: 14px;
  line-height: 24px;
}

.side-nav .user-view .name,
.side-nav .userView .name {
  margin-top: 16px;
  font-weight: 500;
}

.side-nav .user-view .email,
.side-nav .userView .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 998;
}

.side-nav.fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.side-nav.fixed.right-aligned {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .side-nav.fixed.right-aligned {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  .side-nav a {
    padding: 0 16px;
  }
  .side-nav .user-view,
  .side-nav .userView {
    padding: 16px 16px 0;
  }
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.side-nav .collapsible-body {
  padding: 0;
}

.hp-find-a-doctor {
   padding: 85px 0 65px 0;
}

.btn-trans {
    border: 1px solid #00234b;
}

.search-form input {
    outline: 0;
    border: 1px;
    width: 100%;
    height: 54px;
    padding-left: 14px;
    background-color: #fff;
    font-size: 14px;
    color: #435f71;
    margin-bottom: 0;
}

.search-form button {
	height: 3rem;
	width: 100%;
}

.search-form .select-wrapper input.select-dropdown, .search-form input {
	padding: 0 0.70em !important;
}

.search-result {
	background-color: #e7e7e7;
}

.search-list {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.search-list .item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 10px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.search-list .item.avatar {
  min-height: 120px;
}

.search-list .item.avatar .circle {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-bottom: 50px;
  margin-right:20px;
}

.search-list .item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.search-list .item.avatar .title {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom:2px;
}

.search-list .item.avatar .subtitle {
  font-size: 12px;
  margin-top: 0px;
}

.search-list .item.avatar .rating-comment {
  margin: 10px 0;
}

.search-list .item.avatar p {
  margin: 0;
}

.search-list .item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.search-list .item:last-child {
  border-bottom: none;
}

.search-list .item.active {
  border-bottom: 4px solid #26a69a;
  color: #eafaf9;
}

.search-list .item.sponsored {
  border-bottom: 4px solid #fff04b;
}

.search-map {
	width:100%;
	position: relative;
}

.stuck-map {
	position: fixed !important;
	top: 80px;
}

#map {
    height: 100%;
	width: 100%;
	border: 1px solid #e1e1e4;
    box-sizing: border-box;
	min-height: 600px;
}


.link-name {
    border-bottom: 2px solid #00234b;
	color: #00234b;
    padding-bottom: 9px;
	font-size: 22px;
}

.link-section a {
    color: #2bbfed;
}

.help-container p {
	padding: 30px 0;
	font-size: 24px;
	margin: 0px;
}


footer a {
    color: #fff04b;
}

footer  h3, footer  li {
    padding-top: 4px;
    padding-bottom: 8px;
}
